
<form id="pagerForm" method="post" action="accounting/book_stat">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{{psize}}" />
	<input type="hidden" name="orderField" value="{{order_field}}" />
	<input type="hidden" name="charge_type" value="{{charge_type}}" />
	<input type="hidden" name="start" value="{{start}}" />
    <input type="hidden" name="factory_id" value="{{factory_id}}" />
    
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="accounting/book_stat" method="post">
    <div class="searchBar">
        <table class="searchContent">
            <tr>
            <td> 开始：
                <input name="start" class="date textInput readonly valid" readonly="true" type="text" value="{{start}}">
            </td>
            <td>
            计费类型：<select name="charge_type">
                <option value="" {% if not charge_type %}selected{% end %}>不限</option>
                <option value="book" {% if charge_type == 'book' %}selected{% end %}>按本</option>
                <option value="chapter" {% if charge_type == 'chapter' %}selected{% end %}>按章</option>
            </select>
            </td>
            <td><a class="icon" href="accounting/book_stat?action=export" target="dwzExport" targettype="navTab" title="确实要导出这些记录吗?"><span>导出EXCEL</span></a></td>
            <td> 厂商：
                        <select name="factory_id" class="required">
                        {% if (current_user.is_root and query_mode == 'product') or current_user['name'] == 'wangliang' %}
                        <option value="-1">不限</option>
                        {% end %}
                        {% for i in factory_list %}
                        <option value="{{i.id}}" {% if factory_id == i.id %}selected{% end %}>{{i.name}}</option>
                        {% end %}
                        </select>
                        <input class="required" name="factory_name" type="text" postField="factory_name"
                            suggestFields="factory_name" suggestUrl="factory_accounting/search?resource={{query_mode}}" lookupGroup=""/>
            </td> 
            <td colspan="6">提示：点击不同表头，可进行相应排序</td>
            <td><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></td>
            </tr>
        </table>
	</form>
</div>

<div class="pageContent">
	<table class="table" width="100%" layoutH="108">
		<thead>
			<tr>
				<th align="center">书ID</th>
				<th align="center">书名</th>
				<th align="center">作者</th>
				<th align="center">版权</th>
				<th align="center">类别</th>
				<th align="center">子类</th>
				<th align="center">三级分类</th>
				<th align="center">计费类型</th>
				<th align="center">状态</th>
				<th align="center" orderField="fee">阅饼消费</th>
				<th align="center" orderField="real_fee">主账号消费</th>
				<th align="center" orderField="pay_down">付费下载数</th>
				<th align="center" orderField="pay_user">付费下载用户数</th>
				<th align="center" orderField="free_down">免费下载数</th>
				<th align="center" orderField="free_user">免费下载用户数</th>
				<th align="center" orderField="pv">简介访问数</th>
				<th align="center" orderField="uv">简介访问人数</th>
				<th align="center" orderField="batch_fee">批量订购阅饼消费</th>
			</tr>
		</thead>
		<tbody>		
            {% for i in books%}
            <tr>
                <td>{{i['book_id']}}</td>
                <td>{{i['name']}}</td>
                <td>{{i['author']}}</td><td>{{i['cp']}}</td>
                <td>{{i['category_2']}}</td><td>{{i['category_1']}}</td><td>{{i['category_0']}}</td>
                <td>{% if i.charge_type == 'book' %}按本{%else%}按章{%end%}</td>
                <td>{{i['state']}}</td>
                <td>{{i.fee}}</td><td>{{i.real_fee}}</td>
                <td>{{i.pay_down}}</td><td>{{i.pay_user}}</td>
                <td>{{i.free_down}}</td><td>{{i.free_user}}</td><td>{{i.pv}}</td><td>{{i.uv}}</td>
                <td>{{i.batch_fee}}</td>
            </tr>
            {% end %}
		</tbody>
	</table>
    {% module Pagination(count,page,psize) %}
</div>

