
<form id="pagerForm" method="post" action="book/refer">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{{psize}}" />
	<input type="hidden" name="orderField" value="id" />
	<input type="hidden" name="platform_id" value="{{platform_id}}" />
	<input type="hidden" name="run_id" value="{{run_id}}" />
	<input type="hidden" name="plan_id" value="{{plan_id}}" />
	<input type="hidden" name="partner_id" value="{{partner_id}}" />
	<input type="hidden" name="version_name" value="{{version_name}}" />
	<input type="hidden" name="product_name" value="{{product_name}}" />
	<input type="hidden" name="date" value="{{date}}" />
	<input type="hidden" name="pkey" value="{{pkey}}" />
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="book/refer" method="post">
    {% module BasicQueryCond(platform_id,run_id,plan_id,partner_id,version_name,product_name,run_list,plan_list,date) %}
    <div class="searchBar">
        <table class="searchContent">
            <tr>
            <td>
                简介访问来源：
                <select name="pkey">
                    <option value="1S1" {% if pkey == '1S1' %}selected{% end %}>搜索</option>
                </select>
            </td>
            <td colspan="7"></td>
            </tr>
        </table>
	</form>
</div>

<div class="pageContent">
	<table class="table" width="100%" layoutH="108">
		<thead>
			<tr>
				<th width="80" align="center">书ID</th>
				<th width="180" align="center">书名</th>
				<th width="100" align="center">作者</th>				
				<th width="100" align="center">版权</th>				
				<th width="80" align="center">简介访问数</th>
				<th width="80" align="center">简介访问人数</th>
			</tr>
		</thead>
		<tbody>		
            {% for i in books%}
            <tr>
                <td>{{i['book_id']}}</td><td>{{i['name']}}</td><td>{{i['author']}}</td><td>{{i['cp']}}</td>
                <td>{{i.pv}}</td><td>{{i.uv}}</td>
            </tr>
            {% end %}
		</tbody>
	</table>
    {% module Pagination(count,page,psize) %}
</div>

