
<form id="pagerForm" method="post" action="e_value">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{{psize}}" />
	<input type="hidden" name="charge_type" value="{{charge_type}}" />
	<input type="hidden" name="startpoint" value="{{startpoint}}" />
	<input type="hidden" name="orderField" value="{{order_field}}" />
	<input type="hidden" name="book_ids" value="{{book_ids}}" />
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="e_value" method="post">
    <div class="searchBar">
        <table class="searchContent">
            <tr>
            <td>
            类型：<select name="startpoint">
                <option value="书架" {% if startpoint == '书架' %}selected{% end %}>书架</option>
                <option value="书城" {% if startpoint == '书城' %}selected{% end %}>书城</option>
                <option value="打包" {% if startpoint == '打包' %}selected{% end %}>打包</option>
                <option value="其他" {% if startpoint == '其他' %}selected{% end %}>其他</option>
            </select>
            </td>
            <td>书的ID：<input type="text" name="book_ids" size="50" value="{{book_ids}}"/>&nbsp;半角逗号分隔
            <td><a class="icon" href="e_value?action=export" target="dwzExport" targettype="navTab" title="确实要导出这些记录吗?"><span>导出EXCEL</span></a></td>
            <td colspan="6"></td>           
            </td>
                <td>
                    <div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div>
                </td>
            </tr>
        </table>
	</form>
</div>

<div class="pageContent">
	<table class="table" width="100%" layoutH="90">
		<thead>
			<tr>
				<th align="center">书ID</th>
				<th align="center">书名</th>
				<th align="center" orderField="cfee">章月饼消费</th>
				<th align="center" orderField="usnum">总人数</th>
				<th align="center" orderField="cpay_user">付费人数</th>
                <th align="center" orderField="cpay_user_percentage">付费人数/总人数</th>
				<th align="center" orderField="ARPU">ARPU</th>
			</tr>
		</thead>
		<tbody>	
            {% for i in books %}
            <tr>
                <td align=“center”>{{i['bid']}}</td>
                <td>                                                                                                                                                
                    <a style="color:#1f3b7b;" href="book/chart?book_ids={{i['bid']}}" target="navTab" rel="book_chart" title="单本数据">{{i['name']}} </a>
                </td>
                <td align=“center”>{{i['cfee']}}</td>
                <td align=“center”>{{i['usnum']}}</td>
                <td align=“center”>{{i['cpay_user']}}</td>
                <td align=“center”>{{i['cpay_user_percentage']}}%</td>
                <td align=“center”>{{i['ARPU']}}</td>
            <tr>
            {% end %}
		</tbody>
	</table>
    {% module Pagination(count,page,psize) %}
</div>

