
<form id="pagerForm" method="post" action="user/list">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{{psize}}" />
	<input type="hidden" name="orderField" value="id" />
	<input type="hidden" name="name" value="{{name}}" />
	<input type="hidden" name="orgid" value="{{orgid}}" />
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="user/list" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					用户名：<input type="text" name="name" value="{{name}}"/>
				</td>
				<td>
					组织：
                    <select name="orgid">
                        <option value="0">不限</option>
                        {% for i in orgs %}
                        <option value="{{i.id}}" {% if orgid == i.id %}selected{%end%}>{{i.full_name}}</option>
                        {% end %}
                    </select>
				</td>
				<td>
				    <div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="user/add" target="dialog"><span>添加</span></a></li>
			<li><a class="delete" href="user/delete?id={sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li><a class="edit" href="user/edit?id={sid_user}" target="dialog"><span>修改</span></a></li>
			<li class="line">line</li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="110">
		<thead>
			<tr>
				<th width="80" align="center">序号</th>
				<th width="130" align="center">用户名称</th>				
				<th width="130" align="center">超级用户</th>
				<th width="130" align="center">内部员工</th>
				<th width="130" align="center">组织</th>
				<th width="80" align="center">手机</th>
				<th with="180" align="center">邮件地址</th>
				<th width="220" align="center">创建日期</th>
				<th width="220" align="center">更新日期</th>
			</tr>
		</thead>
		<tbody>		
			   {% for u in users %}
				<tr target="sid_user" rel="{{u.id}}">
					<td>{{u.id}}</td>
					<td>{{u.name}}</td>
					<td>{% if u.is_root %}是{%else%}否{%end%}</td>
					<td>{% if u.is_staff %}是{%else%}否{%end%}</td>
					<td>{{u.full_org_name}}</td>
					<td>{{u.phone}}</td>
					<td>{{u.email}}</td>
					<td>{{u.creatime}}</td>
					<td>{{u.uptime}}</td>
				</tr>
				{% end %}
		</tbody>
	</table>
    {% module Pagination(count,page,psize) %}
</div>

